Create a DataFrame using List:

In [1]:
import pandas as pd
x=['pandas','python']
df=pd.DataFrame(x)
print(df)

        0
0  pandas
1  python

Create a DataFrame from Dict of ndarrays/ Lists

In [2]:
import pandas as pd
import numpy as np
dict={
    'student':['san','tosh','chapa'],
    'marks':[90,85,80]}
df=pd.DataFrame(dict)
print(df)

  student  marks
0     san     90
1    tosh     85
2   chapa     80

Create a DataFrame from Dict of Series:

In [3]:
import pandas as pd
info={
    'one':pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f']),
    'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(info)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

Column Addition:

In [4]:
import pandas as pd
info={
    'one':pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f']),
    'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(info)

In [5]:
df['three']=pd.Series([20,40,60],index=['a','b','c'])
print(df)

   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  6.0    6    NaN
g  NaN    7    NaN
h  NaN    8    NaN

In [6]:
df['four']=df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  6.0    6    NaN   NaN
g  NaN    7    NaN   NaN
h  NaN    8    NaN   NaN

Column Deletion:

In [7]:
import pandas as pd
info = {'one' : pd.Series([1, 2], index= ['a', 'b']),
        'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}  
df=pd.DataFrame(info)
print("The DataFrame:")
print(df)

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3

In [8]:
#delete column using del functiom
print("Delete the first column:")
del df['one']
print(df)

Delete the first column:
   two
a    1
b    2
c    3

In [14]:
#delete column using pop function
print("delete the second column")
df=pd.DataFrame(info)

df.pop('two')
print(df)

delete the second column
   one
a  1.0
b  2.0
c  NaN

 Row Selection Addition and Deletion:

In [17]:
#Selection by label
import pandas as pd
info={
    'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),
    'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [18]:
#Selection by integer location
print (df.iloc[3])  #a[3] ko index mah j value xa tahi value aauxa

one    4.0
two    4.0
Name: d, dtype: float64

In [19]:
#Slice Rows

print(df[2:5])

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

Addition of rows

In [29]:
#using append function
import pandas as pd
d=pd.DataFrame([[7,8],[9,10]],columns=['x','y'])
d2=pd.DataFrame([[11,12],[13,14]],columns=['x','y'])
d=d.append(d2)
print(d)

    x   y
0   7   8
1   9  10
0  11  12
1  13  14

C:\Users\offic\AppData\Local\Temp\ipykernel_4740\3040453581.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d=d.append(d2)

In [43]:
#Deletion of rows
import pandas as pd  
  
a_info = pd.DataFrame([[4, 5], [6, 7]], columns = ['x','y'])  
b_info = pd.DataFrame([[8, 9], [10, 11]], columns = ['x','y'])  
  
a_info = a_info.append(b_info)  
  
# Drop rows with label 0  
a_info = a_info.drop(0)

C:\Users\offic\AppData\Local\Temp\ipykernel_4740\4026420311.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a_info = a_info.append(b_info)