In [ ]:
Create an Empty Series:

In [1]:
import pandas as pd 
x = pd.Series()  
print (x)

Series([], dtype: float64)

C:\Users\offic\AppData\Local\Temp\ipykernel_12196\1138635677.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

In [ ]:
Creating Series from Array:

In [2]:
import pandas as pd  
import numpy as np  
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [ ]:
Create a series from dict:

In [3]:
#import the pandas library   
import pandas as pd  
import numpy as np  
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a)

x    0.0
y    1.0
z    2.0
dtype: float64

Creatinng a series using Sclar:

In [4]:
import pandas as pd  
import numpy as np  
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

Pandas Series.map() function:

In [5]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  #np.nan: not a number
a.map({'Java': 'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [11]:
  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})  
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

Pandas Series.std() Function:

In [13]:
import pandas as pd  
import numpy as np  
   
#Create a DataFrame  
info = {  
    'Name':['san','chap','ke','pou'],  
   'sub1_Marks':[52,38,42,37],  
   'sub2_Marks':[41,35,29,36]}   
data = pd.DataFrame(info)  
data  
# standard deviation of the dataframe  
data.std()

C:\Users\offic\AppData\Local\Temp\ipykernel_12196\4169473863.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std()

sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

Pandas Series.to_frame()

In [14]:
import pandas as pd   
import matplotlib.pyplot as plt     
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Emp': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)     
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

Pandas Series.value_counts():

In [3]:
import pandas as pd 
import numpy as np
index = pd.Index([1, 3, 2, 2, 1, np.nan])  
index.value_counts()  
a = pd.Series([1, 3, 2, 2, 1, np.nan])  
a.value_counts(normalize=True)

1.0    0.4
2.0    0.4
3.0    0.2
dtype: float64

In [4]:
a.value_counts(bins=2)

(0.997, 2.0]    4
(2.0, 3.0]      1
dtype: int64

In [5]:
a.value_counts(dropna=False)

1.0    2
2.0    2
3.0    1
NaN    1
dtype: int64