In [1]:
#Aggregation
import pandas as pd  
import numpy as np  
dic = {'Name': ['San', 'Kes', 'Susil', 'Bamm'],  
   'Percentage': [82, 98, 91, 97],  
   'Course': ['BSC','BEd','M.Phill','BA']} 
df=pd.DataFrame(dic)
df

    Name  Percentage   Course
0    San          82      BSC
1    Kes          98      BEd
2  Susil          91  M.Phill
3   Bamm          97       BA

In [2]:
grouped=df.groupby('Course')
print(grouped['Percentage'].agg(np.mean))

Course
BA         97.0
BEd        98.0
BSC        82.0
M.Phill    91.0
Name: Percentage, dtype: float64